* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}
h2 {
  font-weight: 600;
  font-size: 18px;
}
p {
  font-weight: 400;
  font-size: 18px;
}
span {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
}
.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

header {
  padding: 3em;
  .row {
    .logo {
      align-self: flex-start;
      width: 50%;
    }
    .info {
      h2 {
        padding-bottom: 0.5rem;
      }
      width: 50%;
    }
  }
}
// CARDS
.row {
  justify-content: space-evenly;
  .card {
    position: relative;
    img {
      width: 200px;
    }
    p {
      font-weight: 600;
    }
    span {
      position: absolute;
      top: 0;
      right: -35px;
      writing-mode: vertical-lr;
    }
  }
}
