* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
}
.logo-font {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}
.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
