* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}
h2 {
  font-weight: 600;
  font-size: 18px;
}
h3,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;
}
p {
  font-weight: 400;
  font-size: 18px;
}
span {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
}
.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
// HEADER
header {
  padding: 2em;
  .row {
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    .logo {
      align-self: flex-start;
      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 2rem;
      }
    }
    .info {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      h2 {
        padding-bottom: 0.5rem;
      }
    }
  }
}
// CARDS
.cards {
  margin-bottom: 2em;
  .row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3em;
    position: relative;
    .card {
      position: relative;
      padding: 3rem;
      img {
        width: 250px;
        @media (max-width: 769px) {
          width: 200px;
        }
      }
      p {
        font-weight: 600;
      }
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;
      }
    }
    .card-position {
      position: relative;
      bottom: -90px;
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;
      }
    }
    .card-position2 {
      position: relative;
      bottom: -90px;
      @media (max-width: 1135px) {
        position: static;
      }
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;
        @media (max-width: 1135px) {
          position: relative;
          top: -398px;
          left: 270px;
        }
      }
    }
    .card-position4 {
      @media (max-width: 1135px) {
        position: relative;
        bottom: -90px;
        span {
          position: absolute;
          top: 49px;
          right: 7px;
          writing-mode: vertical-lr;
        }
      }
    }
    .card-position6 {
      @media (max-width: 1135px) {
        position: relative;
        bottom: -50px;
        span {
          position: absolute;
          top: 49px;
          right: 7px;
          writing-mode: vertical-lr;
        }
      }
    }
  }
}
// FOOTER
footer {
  padding: 1rem;
}
