* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}
h2 {
  font-weight: 600;
  font-size: 18px;
}
h3,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;
}
p {
  font-weight: 400;
  font-size: 18px;
}
span {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
}
.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
// HEADER
header {
  padding: 2em;
  .row {
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    .logo {
      align-self: flex-start;
      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 2rem;
      }
    }
    .info {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      h2 {
        padding-bottom: 0.5rem;
      }
    }
  }
}
// CARDS
.cards {
  margin-bottom: 2em;
  .row {
    padding-bottom: 6em;
    position: relative;
    @media (max-width: 1070px) {
      padding-bottom: 2em;
    }
    @media (max-width: 1024px) {
      align-items: center;
      flex-wrap: wrap;
    }
    @media (max-width: 820px) {
      flex-wrap: wrap;
    }
    .card {
      position: relative;
      img {
        width: 200px;
        @media (max-width: 790px) {
          width: 300px;
        }
      }
      p {
        font-weight: 600;
      }
      span {
        position: absolute;
        top: 0;
        right: -35px;
        writing-mode: vertical-lr;
      }
    }
    .card-position {
      position: absolute;
      bottom: 20px;
      @media (max-width: 1070px) {
        position: relative;
        bottom: 0;
      }
      @media (max-width: 820px) {
        position: static;
      }
      @media (max-width: 790px) {
        position: relative;
      }
      span {
        position: absolute;
        top: 0;
        right: -35px;
        writing-mode: vertical-lr;
        @media (max-width: 1070px) {
          right: -40px;
        }
        @media (max-width: 820px) {
          right: 230px;
        }
        @media (max-width: 790px) {
          right: -35px;
        }
      }
    }
    .card-position2 {
      position: absolute;
      bottom: 20px;
      @media (max-width: 1070px) {
        position: relative;
        bottom: 0;
      }
      @media (max-width: 820px) {
        position: static;
      }
      @media (max-width: 790px) {
        position: relative;
      }
      span {
        position: absolute;
        top: 0;
        right: -35px;
        writing-mode: vertical-lr;
        @media (max-width: 1070px) {
          right: -40px;
        }
        @media (max-width: 820px) {
          right: 230px;
        }
        @media (max-width: 790px) {
          right: -35px;
        }
      }
    }
  }
}
// FOOTER
footer {
  padding: 1rem;
}
