* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}
h2 {
  font-weight: 600;
  font-size: 18px;
}
h3,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;
}
p {
  font-weight: 400;
  font-size: 18px;
}
span {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
}
.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
// HEADER
header {
  padding: 2em;
  .row {
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    .logo {
      align-self: flex-start;
      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 2rem;
      }
      h1 {
        @media (max-width: 430px) {
          font-size: 28px;
        }
      }
    }
    .info {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      h2 {
        padding-bottom: 0.5rem;
        @media (max-width: 430px) {
          font-size: 16px;
        }
      }
      p {
        @media (max-width: 430px) {
          font-size: 16px;
        }
      }
    }
  }
}
// CARDS
.cards {
  margin-bottom: 2em;
  .row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3em;
    position: relative;
    @media (max-width: 548px) {
      padding-bottom: 0;
    }
    .card {
      position: relative;
      padding: 3rem;
      @media (max-width: 548px) {
        padding: 1rem;
      }
      img {
        width: 250px;
        @media (max-width: 769px) {
          width: 200px;
        }
        @media (max-width: 658px) {
          width: 150px;
        }
        @media (max-width: 405px) {
          width: 120px;
        }
      }
      p {
        font-weight: 600;
        @media (max-width: 405px) {
          font-size: 14px;
        }
      }
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;

        @media (max-width: 548px) {
          font-size: 14px;
          right: -8px;
          top: 18px;
        }
        @media (max-width: 405px) {
          font-size: 10px;
          right: -2px;
        }
      }
    }
    .card-position {
      position: relative;
      bottom: -90px;
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;
        @media (max-width: 548px) {
          right: -8px;
          top: 18px;
        }
        @media (max-width: 405px) {
          right: -2px;
        }
      }
    }
    .card-position2 {
      position: relative;
      bottom: -90px;
      @media (max-width: 1135px) {
        position: static;
      }
      span {
        position: absolute;
        top: 49px;
        right: 7px;
        writing-mode: vertical-lr;
        @media (max-width: 1135px) {
          position: relative;
          top: -398px;
          left: 270px;
        }
        @media (max-width: 768px) {
          position: relative;
          top: -325px;
          left: 215px;
        }
        @media (max-width: 658px) {
          position: relative;
          top: -250px;
          left: 165px;
        }
        @media (max-width: 548px) {
          left: 155px;
        }
        @media (max-width: 405px) {
          left: 125px;
          top: -200px;
        }
      }
    }
    .card-position4 {
      @media (max-width: 1135px) {
        position: relative;
        bottom: -90px;
        span {
          position: absolute;
          top: 49px;
          right: 7px;
          writing-mode: vertical-lr;
          @media (max-width: 548px) {
            right: -8px;
            top: 18px;
          }
          @media (max-width: 405px) {
            right: -2px;
          }
        }
      }
    }
    .card-position6 {
      @media (max-width: 1135px) {
        position: relative;
        bottom: -50px;
        span {
          position: absolute;
          top: 49px;
          right: 7px;
          writing-mode: vertical-lr;
          @media (max-width: 548px) {
            right: -8px;
            top: 18px;
          }
          @media (max-width: 405px) {
            right: -2px;
          }
        }
      }
    }
  }
}
// FOOTER
footer {
  padding: 1rem;
  h3,
  a {
    @media (max-width: 340px) {
      font-size: 10px;
    }
  }
}
