* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

h3,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;
}

p {
  font-weight: 400;
  font-size: 18px;
}

span {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
}

.footer-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

header {
  padding: 2em;
}
@media (max-width: 430px) {
  header {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  header .row {
    flex-wrap: wrap;
  }
}
header .row .logo {
  align-self: flex-start;
}
@media (max-width: 768px) {
  header .row .logo {
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media (max-width: 405px) {
  header .row .logo {
    padding-bottom: 1rem;
  }
}
@media (max-width: 430px) {
  header .row .logo h1 {
    font-size: 28px;
  }
}
@media (max-width: 405px) {
  header .row .logo h1 {
    font-size: 20px;
  }
}
header .row .info {
  width: 40%;
}
@media (max-width: 768px) {
  header .row .info {
    width: 100%;
  }
}
header .row .info h2 {
  padding-bottom: 0.5rem;
}
@media (max-width: 430px) {
  header .row .info h2 {
    font-size: 16px;
  }
}
@media (max-width: 405px) {
  header .row .info h2 {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  header .row .info p {
    font-size: 16px;
  }
}
@media (max-width: 405px) {
  header .row .info p {
    font-size: 12px;
  }
}

.cards {
  margin-bottom: 2em;
}
.cards .row {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3em;
  position: relative;
}
@media (max-width: 548px) {
  .cards .row {
    padding-bottom: 0;
  }
}
.cards .row .card {
  position: relative;
  padding: 3rem;
}
@media (max-width: 548px) {
  .cards .row .card {
    padding: 1rem;
  }
}
.cards .row .card img {
  width: 250px;
}
@media (max-width: 769px) {
  .cards .row .card img {
    width: 200px;
  }
}
@media (max-width: 658px) {
  .cards .row .card img {
    width: 150px;
  }
}
@media (max-width: 405px) {
  .cards .row .card img {
    width: 120px;
  }
}
@media (max-width: 340px) {
  .cards .row .card img {
    width: 100px;
  }
}
.cards .row .card p {
  font-weight: 600;
}
@media (max-width: 405px) {
  .cards .row .card p {
    font-size: 14px;
  }
}
.cards .row .card span {
  position: absolute;
  top: 49px;
  right: 7px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
@media (max-width: 548px) {
  .cards .row .card span {
    font-size: 14px;
    right: -8px;
    top: 18px;
  }
}
@media (max-width: 405px) {
  .cards .row .card span {
    font-size: 10px;
    right: -2px;
  }
}
.cards .row .card-position {
  position: relative;
  bottom: -90px;
}
.cards .row .card-position span {
  position: absolute;
  top: 49px;
  right: 7px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
@media (max-width: 548px) {
  .cards .row .card-position span {
    right: -8px;
    top: 18px;
  }
}
@media (max-width: 405px) {
  .cards .row .card-position span {
    right: -2px;
  }
}
.cards .row .card-position5 {
  position: relative;
  bottom: -90px;
}
@media (max-width: 1135px) {
  .cards .row .card-position5 {
    position: static;
  }
}
.cards .row .card-position5 span {
  position: absolute;
  top: 49px;
  right: 7px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
@media (max-width: 1135px) {
  .cards .row .card-position5 span {
    position: relative;
    top: -398px;
    left: 270px;
  }
}
@media (max-width: 768px) {
  .cards .row .card-position5 span {
    position: relative;
    top: -325px;
    left: 215px;
  }
}
@media (max-width: 658px) {
  .cards .row .card-position5 span {
    position: relative;
    top: -250px;
    left: 165px;
  }
}
@media (max-width: 548px) {
  .cards .row .card-position5 span {
    left: 155px;
  }
}
@media (max-width: 405px) {
  .cards .row .card-position5 span {
    left: 125px;
    top: -200px;
  }
}
@media (max-width: 340px) {
  .cards .row .card-position5 span {
    left: 105px;
    top: -170px;
  }
}
@media (max-width: 1135px) {
  .cards .row .card-position6 {
    position: relative;
    bottom: -50px;
  }
  .cards .row .card-position6 span {
    position: absolute;
    top: 49px;
    right: 7px;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
  }
}
@media (max-width: 1135px) and (max-width: 548px) {
  .cards .row .card-position6 span {
    right: -8px;
    top: 18px;
  }
}
@media (max-width: 1135px) and (max-width: 405px) {
  .cards .row .card-position6 span {
    right: -2px;
  }
}

footer {
  padding: 1rem;
}
@media (max-width: 370px) {
  footer h3,
footer a {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */